[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "midasINLA"]
	path = midasINLA
	url = https://github.com/stephen-villejo/midasinla
